<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css.css" />
    <link rel="manifest" href="/manifest.json" />
    <title>סולמות ונחשים</title>
</head>

<body>
    <header class="App-header" style="text-align: center;">
        <h1>יצירת מאגר שאלות חדש</h1>
    </header>
    <p style="position: relative; top: -3vh; text-align: center;">עליך להוסיף לפחות 7 שאלות, ולאחר מכן תוכל לעבור למשחק.
    </p>
    <div class="addFormDiv">
        <form class=" item" action="/createNew" method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">נושא המשחק</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="נושא המשחק" name="gameName" autocomplete="off"
                        required value="<%= gameName %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">שאלה</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="שאלה" name="question" autocomplete="off"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">תשובה 1</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="תשובה 1" name="ans1" autocomplete="off"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">תשובה 2</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="תשובה 2" name="ans2" autocomplete="off"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">תשובה 3</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="תשובה 3" name="ans3" autocomplete="off"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">תשובה 4</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="תשובה 4" name="ans4" autocomplete="off">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0" style="color: black">תשובה נכונה</legend>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="1">
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="2">
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio1">3</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="3">
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                value="4">
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-sm-10" style="position: relative; right: 32vw; bottom: 6vh">
                <button type="submit" class="btn btn-outline-secondary">הוסף שאלה</button>
            </div>
        </form>
    </div>
    <div class="addFormDiv" style="right: 55vw; width: 40vw; color: black; overflow-y: scroll;">
        <h5>השאלות במאגר:</h5>
        <% questions.forEach(question => { %>
        <div>
            <p><%=question.question%></p>
            <ol>
                <li style="font-weight: <%= question.correctAns === 1 ? 'bold' : 'normal' %>"><%=question.answer1%></li>
                <li style="font-weight: <%= question.correctAns === 2 ? 'bold' : 'normal' %>"><%=question.answer2%></li>
                <li style="font-weight: <%= question.correctAns === 3 ? 'bold' : 'normal' %>"><%=question.answer3%></li>
                <li style="font-weight: <%= question.correctAns === 4 ? 'bold' : 'normal' %>"><%=question.answer4%></li>
            </ol>
            <form action="/delete" method="post">
                <input type="hidden" name="gameName" value="<%=gameName%>" />
                <button type="submit" class="btn btn-danger" value="<%= question.id %>" name="deleteButton"
                    style="position: relative; right: 30vw; bottom: 15vh" formaction="/delete">מחק</button>
            </form>
        </div>
        <% }); %>
        <a href="<%=gameId%>">
            <% if (questions.length >= 7) { %>
            <button type="button" class="btn btn-outline-secondary" style="position: relative; right: 27vw;">מעבר
                למשחק</button>
            <% } else { %>
            <button type="button" class="btn btn-outline-secondary" style="position: relative; right: 27vw;"
                disabled="true">מעבר
                למשחק</button>
            <% } %>
        </a>
    </div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="../src/index.js"></script>
</body>

</html>